div {
    text-align: center;
    background-color: red;
    color: white;
    font-size: 31px;
    font-weight: bold;
}

p {
    background-color: green;
    color: white;
}

button {
    background-color: orange;
    font-size: 15px;
    border: 1px bold white;
}