.firstb {
    background-color: black;
    color: white;
}

.secondb {
    background-color: yellow;
}


.firstb,
.secondb {
    font-size: 28px;
    font-family: Helvetica "Times New Roman" sans-serif;
}